/* Written by Sun Wangshu */
/* 2015.06.10 */
/*-------- general settings --------*/
body {
	font-family: "MicrosoftYaHeiLight*", "Microsoft YaHei", sans-serif !important;
	font-size: 14px;
	padding-top: 15px;
	padding-bottom: 12px;
}
/* "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;	*/
img {
	max-width: 100%;
}
a, a:active, a:focus, a:hover {
	text-decoration: none;
}

.width-10 {
	width: 10%;
}
.width-20 {
	width: 20%;
}
.width-30 {
	width: 30%;
}
.width-40 {
	width: 40%;
}
.width-50 {
	width: 50%;
}
.width-60 {
	width: 60%;
}
.width-70 {
	width: 70%;
}
.width-80 {
	width: 80%;
}
.width-90 {
	width: 90%;
}
.width-100 {
	width: 100%;
}
.clear {
	clear: both;
}

/*-------- overwrite bootstrap -------*/
.container {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
}

textarea {
	resize: none;
}

@media (max-width: 768px) {
	.modal-dialog {
		margin: 30px auto;
		max-width: 85%;
	}
}

/*-------- bootstrap custom -------*/


/*-------- other custom style --------*/


