<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>电子名片-完成编辑</title>
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/default.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/electronic_finish.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/icomoon.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="content-top col-xs-12">
        <div class="width-70 pull-left">
          <div class="width-40 pull-left div-portrait">
            <img src="{% if ele_obj.pic_head %}{{ele_obj.pic_head.url}}{%endif%}" class="img-circle portrait" />
          </div>
          <div class="width-60 pull-left div-basic-info">
            <p class="name">{{ele_obj.name}}</p>
            <p><span class="company">{{ele_obj.company}}</span><span class="title">{{ele_obj.position}}</span></p>
          </div>
        </div>
        <div class="width-30 pull-right">
          <div class="small-thumb pull-right qr-thumb circle">
            <a type="button" data-toggle="modal" data-target="#myModal-qr">
              <img src="{% if ele_obj.file_obj %}{{ele_obj.file_obj.url}}{%endif%}"  style="width:25px;height:25px;"/>
            </a>
          </div>
          <div class="small-thumb pull-right">
            <img src="/media/{{ele_obj.qrcode}}" style="width:37px;height:37px;" class="img-circle" />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="content-middle col-xs-12">
        <div class="contact-item-basic">
          <div class="pull-left width-70">
            <p class="item-tag">电话</p>
            <p class="item-value">{{ele_obj.phone}}</p>
          </div>
          <div class="pull-right width-30 icon-group">
            <div class="pull-right div-icon-link">
              <a href="" class="icon-message icon-button"></a>
            </div>
            <div class="pull-right div-icon-link">
              <a href="" class="icon-phone icon-button"></a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="contact-item-basic">
          <div class="pull-left width-80">
            <p class="item-tag">邮箱</p>
            <p class="item-value">{{ele_obj.email}}</p>
          </div>
          <div class="pull-right width-20 icon-group">
            <div class="pull-right div-icon-link">
              <a href="" class="icon-mail icon-button"></a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="contact-item-basic">
          <div class="pull-left width-80">
            <p class="item-tag">地址</p>
            <p class="item-value">{{ele_obj.address}}</p>
          </div>
          <div class="pull-right width-20 icon-group">
            <div class="pull-right div-icon-link">
              <a href="" class="icon-address icon-button"></a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="contact-item-basic">
          <div class="pull-left width-80">
            <p class="item-tag">博客</p>
            <p class="item-value">{{ele_obj.url}}</p>
          </div>
          <div class="pull-right width-20 icon-group">
            <div class="pull-right div-icon-link">
              <a href="" class="icon-link icon-button"></a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        {%comment%}
        <div class="contact-item-basic">
          <div class="width-100">
            <p class="item-tag">个人简介</p>
            <p class="item-value">这里有一点简短的介绍。看看换行的效果怎么样。总之我是介绍介绍~</p>
          </div>
        </div>
        {% endcomment%}
      </div>
    </div>
  <div class="content-bottom">
    <center class="width-20 pull-left block-btn">
      <a href=""><span class="icon-edit icon-button2"></span></a>
    </center>
    <center class="width-20 pull-left block-btn">
      <a href=""><span class="icon-share icon-button2"></span></a>
    </center>
    <center class="width-60 pull-left block-btn-primary">
      <a href="/cardstyle">制作纸质名片 &gt;</a>
    </center>
  </div>
  </div>

  <!-- modal -->  
  <div class="modal fade" id="myModal-qr" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="width-40 pull-left div-portrait">
            <img src="{% if ele_obj.pic_head %}{{ele_obj.pic_head.url}}{%endif%}" class="img-circle portrait" />
          </div>
          <div class="width-50 pull-left div-basic-info">
            <p class="name">杨宝玲</p>
            <p><span class="company">东南大学</span><span class="title">学生</span></p>
          </div>
          <div class="clear"></div>
        </div>
        <center class="modal-body">
          <img src="/media/uploadfile/qrcode/{{ele_obj.qrcode}}" />
        </center>
        <div class="modal-footer">
          <p>扫一扫获得电子名片。长按保存二维码，可打印于名片、工卡等任何地方。</p>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{STATIC_URL}}/js/jquery-1.10.2.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
</body>
</html>