<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" type="text/css" href="css/tempt1.css"/>
    <script type="text/javascript" src="js/index.js"></script>

    <title>模板</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id = "body">
    <a href = "edit.html"><div class = "edit">编辑 </div></a>
    <div class = "container">
      <a href = "edit.html"><div class = "qr_code"><img src = "images/qr_code.png"></div></a> 
      <a href = "edit.html"><div class = "head0"><img src = "images/head0.png"></div> </a>     
      <a href = "edit.html"><div class = "name"> 姓名 </div></a>
      <a href = "edit.html"><div class = "corp"> 公司职位 </div></a>

      <a href = "edit.html"><div class = "entry">
        <div class = "entry_text">
          <div class = "entry_title">电话</div>
          <div class = "entry_example">152-1234-5678(选填)</div> 
        </div> 
        <div class = "entry_icon"><img src = "images/phone.png"/></div>
        <div class = "entry_icon"><img src = "images/message.png"/></div>
      </div></a>

      <a href = "edit.html"><div class = "entry">
        <div class = "entry_text">
          <div class = "entry_title">邮箱</div>
          <div class = "entry_example">12345678@qq.com(选填)</div> 
        </div> 
        <div class = "entry_icon"><img src = "images/e-mail.png"/></div>
      </div></a>

      <a href = "edit.html"><div class = "entry">
        <div class = "entry_text">
          <div class = "entry_title">链接</div>
          <div class = "entry_example">URL(选填)</div> 
        </div> 
        <div class = "entry_icon"><img src = "images/link.png"/></div>
      </div></a>

      <a href = "edit.html"><div class = "entry">
        <div class = "entry_text">
          <div class = "entry_title">微信</div>
          <div class = "entry_example">(选填)</div> 
        </div>       
      </div></a>

      <a href = "edit.html"><div class = "entry">
        <div class = "entry_text">
          <div class = "entry_title">个人简历</div>
          <div class = "entry_example">(选填)</div>         
        </div>         
      </div></a>

      <a href = "edit.html"><div class = "entry">
        <div class = "entry_text">
          <div class = "entry_title">项目经验</div>
          <div class = "entry_example">(选填)</div> 
        </div>         
      </div></a>
    
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    
  </body>

</html>